<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="pdfHtml.css">
</head>
<body>
<div class="sample"></div>
<table>
    <thead>
        <tr>
            <th><span th:text="${schedule.date}"></span></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="schedule: ${schedules}">
            <td><span th:text="${schedule.ministryId}"></span></td>
            <td><span th:text="${schedule.userId}"></span></td>
            <td><span th:text="${schedule.date}"></span></td>
        </tr>
    </tbody>
</table>


</body>
</html>