<!-- to be removed after merging with pdfHtmlTemplate.html  -->
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="Table.css" />
    </head>
    <body>
        <div>
            <h1>August 2019 Schedule</h1>
            <table>
                <thead>
                    <tr>
                        <th class="invisible"></th>
                        <th>Aug 4</th>
                        <th>Aug 11</th>
                        <th>Aug 18</th>
                        <th>Aug 25</th>
                    </tr>
                </thead>
                <tbody class="first-column-field">
                    <tr>
                        <td>Worship Leader</td>
                        <td>Yonathan</td>
                        <td>Yonathan</td>
                        <td>Yonathan</td>
                        <td>Yonathan</td>
                    </tr>
                    <tr>
                        <td>Singer</td>
                        <td>Wilson</td>
                        <td>Wilson</td>
                        <td>Wilson</td>
                        <td>Wilson</td>
                    </tr>
                    <tr>
                        <td>Singer</td>
                        <td>Joman</td>
                        <td>Joman</td>
                        <td>Joman</td>
                        <td>Joman</td>
                    </tr>
                    <tr>
                        <td>Singer</td>
                        <td>-</td>
                        <td>Jeshar</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Keyboard</td>
                        <td>Joshnur</td>
                        <td>Joshnur</td>
                        <td>Neysa</td>
                        <td>Neysa</td>
                    </tr>
                    <tr>
                        <td>Filler</td>
                        <td>Neysa</td>
                        <td>Neysa</td>
                        <td>Livia</td>
                        <td>Livia</td>
                    </tr>
                    <tr>
                        <td>Drum</td>
                        <td>Nelvin</td>
                        <td>Brian</td>
                        <td>Brian</td>
                        <td>Brian</td>
                    </tr>
                    <tr>
                        <td>Bass</td>
                        <td>Alfred</td>
                        <td>Alfred</td>
                        <td>RW</td>
                        <td>RW</td>
                    </tr>
                    <tr>
                        <td>Guitar</td>
                        <td>RW</td>
                        <td>RW</td>
                        <td>Jeru</td>
                        <td>Jeru</td>
                    </tr>
                    <tr>
                        <td>Multimedia</td>
                        <td class="user">Agnes</td>
                        <td>Yola</td>
                        <td>Icha</td>
                        <td>Jesselyn</td>
                    </tr>
                    <tr>
                        <td>Sound System</td>
                        <td>Kevin</td>
                        <td>Kevin</td>
                        <td>Kevin</td>
                        <td>Kevin</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>